body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    overflow: hidden;
    
}

#tudo {
    width: auto;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    padding-left: 120px; /* Adiciona um espaço de 50px ao lado esquerdo */
}



.container {
    background-image: url('./assets/tabuleiro.png'); 
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

  
}

#board{
    
     width: 450px;
    height: 450px;
}

.square {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    z-index: 2;
}

.square button {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    /* color: white; */
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

/* .square button:hover {
    background-color: #093c72;
} */

.cards {
 
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #e0e0e0;
    outline: 2px solid black; /* Adiciona contorno preto */
  
}

.row{
    display: flex;
    gap: 10px; /* Espaçamento opcional entre os elementos */
}

#cardsPlayer1-1 {
    width: 200px;
    height: 100px;
    /* position: absolute;
    top: 2%;
    left: 5%;  */
}
#cardsPlayer1-2 {
    width: 200px;
    height: 100px; 
    /* position: absolute;
    top: 24%;
    left: 5%;  */
}

#cardsPlayer2-1 {
    width: 200px;
    height: 100px;
    /* position: absolute;
    bottom: 2%;
    left: 5%; */
    transform: rotate(180deg);
   
}
#cardsPlayer2-2 {
    width: 200px;
    height: 100px; 
    /* position: absolute;
    bottom: 24%;
    left: 5%; */
    transform: rotate(180deg);
}

#cardSolto {
    width: 200px;
    height: 100px; 
    left: -63px;
    top: 150px;
    position: relative;
    transform: rotate(90deg);
    
}

.imagem {
    width: 100%;
    height: auto;
}

#p11{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: -5px;
transition: all 0.3s ease;
}

#p12{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: 85px;
transition: all 0.3s ease;
}
#p15{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: 357px;
    left: 176px;
    }
#p13{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: 266px;
transition: all 0.3s ease;
}
#p14{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: 353px;
transition: all 0.3s ease;
}

/* --------------------------------- */
#p21{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: -5px;
    transition: all 0.3s ease;
    }
    
    #p22{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: 85px;
    transition: all 0.3s ease;
    }
    #p25{
        position: absolute;
        width: 100px;
        height: 100px; 
        top: -2px;
        left: 176px;
        transition: all 0.3s ease;
        }
        
    #p23{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: 266px;
    transition: all 0.3s ease;
    }
    #p24{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: 353px;
    transition: all 0.3s ease;
    }

    #sombraAzul{
        position: absolute;
        width: 100px;
        height: 100px; 
        top: -2px;
        left: 353px;
        }
    
        .red-gradient {
            background: linear-gradient(to right, rgba(194, 80, 80, 0.5), rgba(255, 255, 255, 0.5));
        }
        
        .blue-gradient {
            background: linear-gradient(to right, rgba(80, 80, 194, 0.5), rgba(255, 255, 255, 0.5));
        }
        
.gameover{
    position: absolute;
    top: 5px;
    left: 353px;
}

#btnVoltar {
    background-image: url('./assets/voltar.png'); 
    width: 127px;
    height: 118px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    top: -403px;
    left: -128px;

}
