body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-image: url('./assets/tabuleiro.png'); 
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* background-color: #fff; */
}

#board{
    
     width: 450px;
    height: 450px;
}

.square {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    z-index: 2;
}

.square button {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    /* color: white; */
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

/* .square button:hover {
    background-color: #093c72;
} */

.cards {
 
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #e0e0e0;
    outline: 2px solid black; /* Adiciona contorno preto */
  
}

.row{
    display: flex;
    gap: 10px; /* Espaçamento opcional entre os elementos */
}

#cardsPlayer1-1 {
    width: 200px;
    height: 100px;
    /* position: absolute;
    top: 2%;
    left: 5%;  */
}
#cardsPlayer1-2 {
    width: 200px;
    height: 100px; 
    /* position: absolute;
    top: 24%;
    left: 5%;  */
}

#cardsPlayer2-1 {
    width: 200px;
    height: 100px;
    /* position: absolute;
    bottom: 2%;
    left: 5%; */
   
}
#cardsPlayer2-2 {
    width: 200px;
    height: 100px; 
    /* position: absolute;
    bottom: 24%;
    left: 5%; */
   
}

#cardSolto {
    width: 200px;
    height: 100px; 
    
    top: 150px;
    position: relative;
    
}

.imagem {
    width: 100%;
    height: auto;
}

#a1{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: -5px;
}

#a2{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: 85px;
}
#as{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: 357px;
    left: 176px;
    }
#a3{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: 266px;
}
#a4{
position: absolute;
width: 100px;
height: 100px; 
top: 357px;
left: 353px;
}

/* --------------------------------- */
#v1{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: -5px;
    }
    
    #v2{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: 85px;
    }
    #vs{
        position: absolute;
        width: 100px;
        height: 100px; 
        top: -2px;
        left: 176px;
        }
        
    #v3{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: 266px;
    }
    #v4{
    position: absolute;
    width: 100px;
    height: 100px; 
    top: -2px;
    left: 353px;
    }
